
/*.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}*/

.auth-container {
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mlogin {
    position: absolute;
    padding: 25px 16px 10px 10px;
    font-weight: 500;
    overflow: hidden;
    width: 420px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 0 40px -15px rgba(0,0,0,.75);
    font-size: 1.3em;
    z-index: 99999999999;
    color: #0080cc;
    border: 1px solid #e0eded;
    z-index: 9999;
}
.mlogin:hover {
	/*box-shadow: 0 0 40px -7px rgba(0,0,0,.75);*/
}

@media screen and (max-width: 450px) {
 .mlogin {
width: 100% !important;
max-width: 100%;
 }
 .container-form {
    width: 90% !important;
 }
}
.mlogin h3 {
        color: #0080cc;
    text-align: center;
    font-weight: 500;
    font-family: formular-bold;
}
.form-text {
	text-align: center;
    /*border: 1px dashed #777;*/
    padding: 5px;
    margin-bottom: 20px;
    background: #fcfcfc;
   border-bottom:  1px solid #e0eded;
}
.form-text p {
	font-size: 14px;
}


.container-form {
    margin: 0 0 50px 0;
}

/*.form{
    width: 300px;
    height: auto;
    position: relative;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
}*/

.form input {
    background: #f2f2f2;
    font-size: 17px;
    line-height: 25px;
    height: 45px;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #111;
    text-align: center;
    font-family: formular;
    font-weight: 500;
}
.form input:hover {
border: 1px solid #686868;
background: #fff;
}

.form input:focus {
border: 1px solid #686868;
background: #fff;
}

.container-forma {
/*    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: auto;*/
}
.forma-avtorizacii {
/*    width: 500px;
    height: auto;
    min-height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #000;
    padding: 5px 10px;
    z-index: 2;
    position: relative;
    max-width: 100%;*/
    margin-top: -90px;
}

#sendPhoneButton {
    border: solid 1px #0080cc;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#0070cc), to(#0099cc));
     background: -moz-linear-gradient(top,  #0070cc,  #0099cc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0070cc', endColorstr='#0099cc');
    color: #fff;
padding: 10px 17px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
cursor: pointer;
font-size: 16px;
font-weight: 600;
margin-top: 10px;
text-transform: uppercase;
}
#sendPhoneButton:hover {
    background: #0040cc;
    background: -webkit-gradient(linear, left top, left bottom, from(#0040cc), to(#0080cc));
    background: -moz-linear-gradient(top,  #0040cc,  #0080cc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0040cc', endColorstr='#0080cc');
}

#sendPassButton {
  border: solid 1px #0080cc;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#0070cc), to(#0099cc));
    background: -moz-linear-gradient(top,  #0070cc,  #0099cc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0070cc', endColorstr='#0099cc');
    color: #fff;
padding: 10px 17px;
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
cursor: pointer;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
}
#sendPassButton:hover{
   background: #0040cc;
    background: -webkit-gradient(linear, left top, left bottom, from(#0040cc), to(#0080cc));
      background: -moz-linear-gradient(top,  #0040cc,  #0080cc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0040cc', endColorstr='#0080cc');
}
#sendRestorePass {
   background-color: #fe8380; 
   border:solid 1px #fe8380;
   text-transform: uppercase;
   padding: 10px 17px;
   font-size: 15px;
   color: #fff;
   cursor: pointer;
font-weight: 600;
}
#sendRestorePass:hover {
background-color: #FF4D48;
border-color: #FF4D48;
}

.info-send {
    padding: 5px 5px;
    border: 1px dashed #0080cc;
    font-size: 16px;
}
.closes {
    display: none;
}
.error-info {
	color: red;
	border-color: red;
	font-size: 18px; 
}
.ok-info {
	color: green;
	border-color: green;
	font-size: 18px;	
}
.phone-ok {
    color: #fff;
    border-color: #fff;
    background: green;
    font-size: 18px;
}
.zgoda {
    color: #6e6e6e;
    font-size: 14px;
    margin-top: -30px;
    padding: 10px 5px;
    border: 1px solid #0040cc;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fa-info-circle{
	font-size: 16px;
	color: #0080cc;
}

.restorepass {
	/*border-top: 1px solid #e0eded;
	border-bottom: 1px solid #e0eded;*/
	text-align: center;
    color: #000;
    font-size: 14px;
    padding: 10px 15px;
}
.resendpass{
    text-align: center;
    color: #000;
    font-size: 14px;
    padding: 10px 15px; 
}
.restore{
	padding: 10px;
	border: 1px solid #e9c0c0;
	    margin-top: 10px;
}