html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #1abc9c;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* Header & Main Menu & Logo */

.page-header {
    line-height: 90px;
    height: 90px;
    background: #fff;
    transition: all.6s ease;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 2px 2px 10px rgb(0,0,0);
}

.site-navigation {
    width: 1110px;
    margin: 0 auto;
}

.site-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #555252;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    transition: all.6s ease;
}

.site-logo span {
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
}
  

/* MAIN MENU */
.main-menu {
    width: 1025px;
    float: right;
    text-align: right;
}

.main-menu li {
    display: inline-block;
    /* margin-right: 30px; */
}

.main-menu li:not(:last-child) {
    margin-right: 30px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 14px;
    position: relative;
    display: block;
    transition: all.6s ease;
}

.menu-link:hover,
.menu-link:focus {
    color: #1abc9c;
    outline: none;
}

.menu-link::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 20px;
    background: #1abc9c;
    transition: width .5s ease-in-out;
    opacity: 0;
}

.menu-link:hover::after,
.menu-link:focus::after  {
    width: 100%;
    opacity: 1;
}

/* Change Theme */
.change-theme-block {
    position: absolute;
    right: 15px;
}

.theme-button {
    background: #fff;
    color: var(--main-color);
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    transition: all.6s ease;
}


.theme-button:hover {
background: var(--main-color);
color: #fff;
}
/* /Change Theme */

/* /Header & Main Menu & Logo */


/* SECTION: slider-head 
================================================*/
.slider-head {
    background-image: url('../img/slide-img.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
}

.container {
    width: 1110px;
}

.background-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: .52;
    z-index: 0;
}

.slider {
    position: relative;
    margin: 0 auto;
    color: #fff;
    z-index: 1;
    padding: 218px 0 280px;
}


.slide-prev i {
    font-size: 30px;
}
  
.slider-content {
    float: left;
}


.slide-control {
    background: #4e9c8a;
    opacity: .65;
    cursor: pointer;
    transition: all.4s ease;
    width: 100px;
    height: 100px;
    padding: 35px;
    float: left;
}

.slide-control:hover {
    opacity: 1;
}

.slide-next i {
    font-size: 30px;
    opacity: 1;
}

.slider-content {
    margin: 0 50px;
}


.slider-title h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 82px;
}

.slider-description span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 54px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
/* /SECTION: slider-head 
================================================*/



/* SECTION: New-collection
================================================= */

/* TITLE */

.new-collection {
    padding: 100px 0;
    background-color: #e9f0fd;
    transition: all.6s ease;
}

.new-collection-title {
    text-align: center;
    margin: 0 auto 115px;
}

.new-collection-title h2 {
    font-size: 48px;
    color: #515151;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    position: relative;
    display: inline-block;
    transition: all.6s ease;
}

.new-collection-title h2::after {
content: '';
position: absolute;
bottom: -30px;
left: 0;
right: 0;
margin: auto;
height: 7px;
background: #1abc9c;
width: 165px;
}
/* /TITLE */

/* Product Grid */

.product {
    width: 255px;
    height: 320px;
    position: relative;
    float: left;
}

.product:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.product:not(:nth-of-type(4n)) {
    margin-right: 30px;
}

.product a {
    display: inline-block;
    height: 100%;
}

.product-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
}

.product-text {
    position: absolute;
    bottom: 0;
    background: #323232;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    z-index: 5;
}

.product-title {
    float: left;
}

.product-title h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-left: 15px;
}

.product-price {
    float: right;
    background: #8c8c8c;
}

.product-price p {
    padding: 0 12px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.product:hover .product-text,
.product a:focus .product-text {
    background: #1abc9c;
}

.product:hover .product-price,
.product a:focus .product-price {
    background: #7fd9c7;
}

.product:hover .product-overflow,
.product a:focus .product-overflow {
    opacity: .65;
}
.product:hover .product-buttons,
.product a:focus .product-buttons {
    display: block;
}

.product-overflow {
    background: #fff;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: all.4s ease;
}

.product-overflow-black {
    background: #000;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 235px;
    height: 260px;
}


.product-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 172px;
    z-index: 2;
    display: none;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: all.4s ease;
    border: 1px solid #fff;
}

.btn-wishlist {
    background-image: url('../img/wishlist.png');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-compare {
    background-image: url('../img/compare.png');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-clock {
    background-image: url('../img/clock.png');
    background-repeat: no-repeat;
    background-position: center;
}

.btn:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.btn-cart {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px 15px 20px 40px;
    position: relative;
    transition: all .4s ease;
    border: 1px solid #fff;
}

.btn-cart:before {
    content: '';
    background-image: url('../img/cart.png');
    background-repeat: no-repeat;
    background-size: 29px 29px; 
    position: absolute;
    top: 13px;
    left: 10px;
    width: 29px;
    height: 29px;
}

.btn-cart:hover {
    background-color: #323232;
}

.btn {
    margin-right: 7px;
    margin-bottom: 7px;
    cursor: pointer;
}
.btn:nth-last-of-type(2) {
    margin-right: 0;
}
.btn {
    font-size: 0;
}

.btn-cart {
    width: 100%;
    background-color: transparent;
    color: #fff;
}

/* /Product Grid */

/* /SECTION: New-collection
================================================= */

/* Footer
================================================= */
.page-footer {
    background: #323232;
    height: 90px;
    line-height: 90px;
}

a {
    color: #46bfa9;
}
.footer-section a {
    text-decoration: none;
}

.footer-section {
    text-align: center;
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* /Footer
================================================= */


/* DARK THEME
================================================= */
.dark-theme .page-header {
    background: #555252;
    transition: all.6s ease;
}

.dark-theme .site-logo {
    color: #fff;
    transition: all.6s ease;
}

.light-theme {
   background:#fff;
    transition: all.6s ease;
}

.dark-theme {
    background: #555252;
    transition: all.6s ease;
}

.dark-theme .menu-link {
    color: #fff;
    transition: all.6s ease;
}

.dark-theme .theme-button {
    background: #555252;
    transition: all.6s ease;
}

.dark-theme .theme-button:hover {
background: var(--main-color);
color: #fff;
}

.dark-theme .new-collection {
    background-color: #555252;
    transition: all.6s ease;
}

.dark-theme .new-collection-title h2 {
    color: #fff;
    transition: all.6s ease;
}

/* /DARK THEME
================================================= */

.back-2-top {
    transform: rotate(90deg);
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 99;
    background: var(--main-color);
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all.4s ease;
}
.back-2-top:hover {
opacity: 1;
}

.chown {
    opacity: .6;
}

.back-2-top a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}